div.workspace-toolbar-main {
    background-color: #a5aaad;
    color: white;
    padding: 0px;
}

ul.toolbar-list {
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

li.toolbar-list-item {
    float: left;
    padding: 0px;
}